/* .ContentItem {
  position: relative;
  display:flex;
  flex-direction:column;
  word-wrap: break-word;
  background-color:yellow;
  border:0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  border-radius:.25rem;
} */

/* .ContentItem {
  display:flex;
  justify-content: space-between;
} */
